    $coralColorNeutralText: var(--coralColorNeutralText, hsla(0,0.0%,12.5%,255));    
    $coralColorNeutralTextWeak: var(--coralColorNeutralTextWeak, hsla(0,0.0%,47.5%,255));    
    $coralColorNeutralTextDisabled: var(--coralColorNeutralTextDisabled, hsla(0,0.0%,65.1%,255));    
    $coralColorNeutralBackground: var(--coralColorNeutralBackground, hsla(0,0.0%,100.0%,255));    
    $coralColorNeutralBackgroundMedium: var(--coralColorNeutralBackgroundMedium, hsla(0,0.0%,95.7%,255));    
    $coralColorNeutralBackgroundStrong: var(--coralColorNeutralBackgroundStrong, hsla(0,0.0%,91.0%,255));    
    $coralColorNeutralBorder: var(--coralColorNeutralBorder, hsla(0,0.0%,47.5%,255));    
    $coralColorNeutralBorderHover: var(--coralColorNeutralBorderHover, hsla(0,0.0%,12.5%,255));    
    $coralColorPrimaryText: var(--coralColorPrimaryText, hsla(204,94.0%,39.0%,255));    
    $coralColorPrimaryTextHover: var(--coralColorPrimaryTextHover, hsla(204,94.9%,31.0%,255));    
    $coralColorPrimaryTextActive: var(--coralColorPrimaryTextActive, hsla(204,94.9%,23.1%,255));    
    $coralColorPrimaryTextWeak: var(--coralColorPrimaryTextWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorPrimaryTextWeakHover: var(--coralColorPrimaryTextWeakHover, hsla(204,58.7%,87.6%,255));    
    $coralColorPrimaryTextWeakActive: var(--coralColorPrimaryTextWeakActive, hsla(205,60.0%,75.5%,255));    
    $coralColorPrimaryBackground: var(--coralColorPrimaryBackground, hsla(204,58.7%,87.6%,255));    
    $coralColorPrimaryBackgroundHover: var(--coralColorPrimaryBackgroundHover, hsla(205,60.0%,75.5%,255));    
    $coralColorPrimaryBackgroundActive: var(--coralColorPrimaryBackgroundActive, hsla(204,59.6%,63.1%,255));    
    $coralColorPrimaryBackgroundWeak: var(--coralColorPrimaryBackgroundWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorPrimaryBackgroundWeakHover: var(--coralColorPrimaryBackgroundWeakHover, hsla(204,58.7%,87.6%,255));    
    $coralColorPrimaryBackgroundWeakActive: var(--coralColorPrimaryBackgroundWeakActive, hsla(205,60.0%,75.5%,255));    
    $coralColorPrimaryBackgroundStrong: var(--coralColorPrimaryBackgroundStrong, hsla(204,94.0%,39.0%,255));    
    $coralColorPrimaryBackgroundStrongHover: var(--coralColorPrimaryBackgroundStrongHover, hsla(204,94.9%,31.0%,255));    
    $coralColorPrimaryBackgroundStrongActive: var(--coralColorPrimaryBackgroundStrongActive, hsla(204,94.9%,23.1%,255));    
    $coralColorPrimaryBorder: var(--coralColorPrimaryBorder, hsla(204,94.0%,39.0%,255));    
    $coralColorPrimaryBorderHover: var(--coralColorPrimaryBorderHover, hsla(204,94.9%,31.0%,255));    
    $coralColorPrimaryBorderActive: var(--coralColorPrimaryBorderActive, hsla(204,94.9%,23.1%,255));    
    $coralColorDangerText: var(--coralColorDangerText, hsla(359,100.0%,71.4%,255));    
    $coralColorDangerTextHover: var(--coralColorDangerTextHover, hsla(359,53.4%,57.1%,255));    
    $coralColorDangerTextActive: var(--coralColorDangerTextActive, hsla(359,40.4%,42.7%,255));    
    $coralColorDangerTextWeak: var(--coralColorDangerTextWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorDangerTextWeakHover: var(--coralColorDangerTextWeakHover, hsla(358,100.0%,94.1%,255));    
    $coralColorDangerTextWeakActive: var(--coralColorDangerTextWeakActive, hsla(359,100.0%,88.4%,255));    
    $coralColorDangerBackground: var(--coralColorDangerBackground, hsla(358,100.0%,94.1%,255));    
    $coralColorDangerBackgroundHover: var(--coralColorDangerBackgroundHover, hsla(359,100.0%,88.4%,255));    
    $coralColorDangerBackgroundActive: var(--coralColorDangerBackgroundActive, hsla(359,100.0%,82.7%,255));    
    $coralColorDangerBackgroundWeak: var(--coralColorDangerBackgroundWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorDangerBackgroundWeakHover: var(--coralColorDangerBackgroundWeakHover, hsla(358,100.0%,94.1%,255));    
    $coralColorSuccessText: var(--coralColorSuccessText, hsla(89,48.8%,49.8%,255));    
    $coralColorSuccessTextHover: var(--coralColorSuccessTextHover, hsla(88,48.8%,39.8%,255));    
    $coralColorDangerBackgroundWeakActive: var(--coralColorDangerBackgroundWeakActive, hsla(359,100.0%,88.4%,255));    
    $coralColorSuccessTextActive: var(--coralColorSuccessTextActive, hsla(90,72.9%,26.1%,255));    
    $coralColorDangerBackgroundStrong: var(--coralColorDangerBackgroundStrong, hsla(359,100.0%,71.4%,255));    
    $coralColorSuccessTextWeak: var(--coralColorSuccessTextWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorSuccessTextWeakHover: var(--coralColorSuccessTextWeakHover, hsla(87,46.2%,89.8%,255));    
    $coralColorDangerBackgroundStrongHover: var(--coralColorDangerBackgroundStrongHover, hsla(359,53.4%,57.1%,255));    
    $coralColorSuccessTextWeakActive: var(--coralColorSuccessTextWeakActive, hsla(88,47.6%,79.8%,255));    
    $coralColorDangerBackgroundStrongActive: var(--coralColorDangerBackgroundStrongActive, hsla(359,40.4%,42.7%,255));    
    $coralColorSuccessBackground: var(--coralColorSuccessBackground, hsla(87,46.2%,89.8%,255));    
    $coralColorDangerBorder: var(--coralColorDangerBorder, hsla(359,100.0%,71.4%,255));    
    $coralColorSuccessBackgroundHover: var(--coralColorSuccessBackgroundHover, hsla(88,47.6%,79.8%,255));    
    $coralColorDangerBorderHover: var(--coralColorDangerBorderHover, hsla(359,53.4%,57.1%,255));    
    $coralColorSuccessBackgroundActive: var(--coralColorSuccessBackgroundActive, hsla(88,48.1%,69.8%,255));    
    $coralColorDangerBorderActive: var(--coralColorDangerBorderActive, hsla(359,40.4%,42.7%,255));    
    $coralColorSuccessBackgroundWeak: var(--coralColorSuccessBackgroundWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorSuccessBackgroundWeakHover: var(--coralColorSuccessBackgroundWeakHover, hsla(87,46.2%,89.8%,255));    
    $coralColorWarningText: var(--coralColorWarningText, hsla(27,81.6%,55.3%,255));    
    $coralColorSuccessBackgroundWeakActive: var(--coralColorSuccessBackgroundWeakActive, hsla(88,48.1%,69.8%,255));    
    $coralColorWarningTextHover: var(--coralColorWarningTextHover, hsla(27,66.2%,44.1%,255));    
    $coralColorSuccessBackgroundStrong: var(--coralColorSuccessBackgroundStrong, hsla(89,48.8%,49.8%,255));    
    $coralColorWarningTextActive: var(--coralColorWarningTextActive, hsla(27,66.7%,32.9%,255));    
    $coralColorSuccessBackgroundStrongHover: var(--coralColorSuccessBackgroundStrongHover, hsla(88,48.8%,39.8%,255));    
    $coralColorWarningTextWeak: var(--coralColorWarningTextWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorWarningTextWeakHover: var(--coralColorWarningTextWeakHover, hsla(28,78.7%,90.8%,255));    
    $coralColorSuccessBackgroundStrongActive: var(--coralColorSuccessBackgroundStrongActive, hsla(90,72.9%,26.1%,255));    
    $coralColorWarningTextWeakActive: var(--coralColorWarningTextWeakActive, hsla(27,80.4%,82.0%,255));    
    $coralColorSuccessBorder: var(--coralColorSuccessBorder, hsla(89,48.8%,49.8%,255));    
    $coralColorWarningBackground: var(--coralColorWarningBackground, hsla(28,78.7%,90.8%,255));    
    $coralColorSuccessBorderHover: var(--coralColorSuccessBorderHover, hsla(88,48.8%,39.8%,255));    
    $coralColorWarningBackgroundHover: var(--coralColorWarningBackgroundHover, hsla(27,80.4%,82.0%,255));    
    $coralColorSuccessBorderActive: var(--coralColorSuccessBorderActive, hsla(90,72.9%,26.1%,255));    
    $coralColorWarningBackgroundActive: var(--coralColorWarningBackgroundActive, hsla(27,81.2%,72.9%,255));    
    $coralColorWarningBackgroundWeak: var(--coralColorWarningBackgroundWeak, hsla(0,0.0%,100.0%,255));    
    $coralColorAssistiveText: var(--coralColorAssistiveText, hsla(0,0.0%,100.0%,255));    
    $coralColorWarningBackgroundWeakHover: var(--coralColorWarningBackgroundWeakHover, hsla(28,78.7%,90.8%,255));    
    $coralColorAssistiveTextWeak: var(--coralColorAssistiveTextWeak, hsla(0,0.0%,47.5%,255));    
    $coralColorWarningBackgroundWeakActive: var(--coralColorWarningBackgroundWeakActive, hsla(27,81.2%,72.9%,255));    
    $coralColorAssistiveTextDisabled: var(--coralColorAssistiveTextDisabled, hsla(0,0.0%,30.2%,255));    
    $coralColorWarningBackgroundStrong: var(--coralColorWarningBackgroundStrong, hsla(27,81.6%,55.3%,255));    
    $coralColorAssistiveBackground: var(--coralColorAssistiveBackground, hsla(210,61.5%,5.1%,255));    
    $coralColorWarningBackgroundStrongHover: var(--coralColorWarningBackgroundStrongHover, hsla(27,66.2%,44.1%,255));    
    $coralColorAssistiveBackgroundMedium: var(--coralColorAssistiveBackgroundMedium, hsla(0,0.0%,21.2%,255));    
    $coralColorWarningBackgroundStrongActive: var(--coralColorWarningBackgroundStrongActive, hsla(27,66.7%,32.9%,255));    
    $coralColorAssistiveBackgroundStrong: var(--coralColorAssistiveBackgroundStrong, hsla(0,0.0%,30.2%,255));    
    $coralColorWarningBorder: var(--coralColorWarningBorder, hsla(27,81.6%,55.3%,255));    
    $coralColorAssistiveBorder: var(--coralColorAssistiveBorder, hsla(0,0.0%,47.5%,255));    
    $coralColorWarningBorderHover: var(--coralColorWarningBorderHover, hsla(27,66.2%,44.1%,255));    
    $coralColorAssistiveBorderHover: var(--coralColorAssistiveBorderHover, hsla(0,0.0%,73.7%,255));    
    $coralColorWarningBorderActive: var(--coralColorWarningBorderActive, hsla(27,66.7%,32.9%,255));    
