    $coralColorNeutralText: var(--coralColorNeutralText, #202020);    
    $coralColorNeutralTextWeak: var(--coralColorNeutralTextWeak, #797979);    
    $coralColorNeutralTextDisabled: var(--coralColorNeutralTextDisabled, #a6a6a6);    
    $coralColorNeutralBackground: var(--coralColorNeutralBackground, #ffffff);    
    $coralColorNeutralBackgroundMedium: var(--coralColorNeutralBackgroundMedium, #f4f4f4);    
    $coralColorNeutralBackgroundStrong: var(--coralColorNeutralBackgroundStrong, #e8e8e8);    
    $coralColorNeutralBorder: var(--coralColorNeutralBorder, #797979);    
    $coralColorNeutralBorderHover: var(--coralColorNeutralBorderHover, #202020);    
    $coralColorPrimaryText: var(--coralColorPrimaryText, #0675c1);    
    $coralColorPrimaryTextHover: var(--coralColorPrimaryTextHover, #045d9a);    
    $coralColorPrimaryTextActive: var(--coralColorPrimaryTextActive, #034673);    
    $coralColorPrimaryTextWeak: var(--coralColorPrimaryTextWeak, #ffffff);    
    $coralColorPrimaryTextWeakHover: var(--coralColorPrimaryTextWeakHover, #cde3f2);    
    $coralColorPrimaryTextWeakActive: var(--coralColorPrimaryTextWeakActive, #9bc7e6);    
    $coralColorPrimaryBackground: var(--coralColorPrimaryBackground, #cde3f2);    
    $coralColorPrimaryBackgroundHover: var(--coralColorPrimaryBackgroundHover, #9bc7e6);    
    $coralColorPrimaryBackgroundActive: var(--coralColorPrimaryBackgroundActive, #69acd9);    
    $coralColorPrimaryBackgroundWeak: var(--coralColorPrimaryBackgroundWeak, #ffffff);    
    $coralColorPrimaryBackgroundWeakHover: var(--coralColorPrimaryBackgroundWeakHover, #cde3f2);    
    $coralColorPrimaryBackgroundWeakActive: var(--coralColorPrimaryBackgroundWeakActive, #9bc7e6);    
    $coralColorPrimaryBackgroundStrong: var(--coralColorPrimaryBackgroundStrong, #0675c1);    
    $coralColorPrimaryBackgroundStrongHover: var(--coralColorPrimaryBackgroundStrongHover, #045d9a);    
    $coralColorPrimaryBackgroundStrongActive: var(--coralColorPrimaryBackgroundStrongActive, #034673);    
    $coralColorPrimaryBorder: var(--coralColorPrimaryBorder, #0675c1);    
    $coralColorPrimaryBorderHover: var(--coralColorPrimaryBorderHover, #045d9a);    
    $coralColorPrimaryBorderActive: var(--coralColorPrimaryBorderActive, #034673);    
    $coralColorDangerText: var(--coralColorDangerText, #ff6d70);    
    $coralColorDangerTextHover: var(--coralColorDangerTextHover, #cc5759);    
    $coralColorDangerTextActive: var(--coralColorDangerTextActive, #994143);    
    $coralColorDangerTextWeak: var(--coralColorDangerTextWeak, #ffffff);    
    $coralColorDangerTextWeakHover: var(--coralColorDangerTextWeakHover, #ffe1e2);    
    $coralColorDangerTextWeakActive: var(--coralColorDangerTextWeakActive, #ffc4c5);    
    $coralColorDangerBackground: var(--coralColorDangerBackground, #ffe1e2);    
    $coralColorDangerBackgroundHover: var(--coralColorDangerBackgroundHover, #ffc4c5);    
    $coralColorDangerBackgroundActive: var(--coralColorDangerBackgroundActive, #ffa7a9);    
    $coralColorDangerBackgroundWeak: var(--coralColorDangerBackgroundWeak, #ffffff);    
    $coralColorDangerBackgroundWeakHover: var(--coralColorDangerBackgroundWeakHover, #ffe1e2);    
    $coralColorSuccessText: var(--coralColorSuccessText, #82bd41);    
    $coralColorSuccessTextHover: var(--coralColorSuccessTextHover, #689734);    
    $coralColorDangerBackgroundWeakActive: var(--coralColorDangerBackgroundWeakActive, #ffc4c5);    
    $coralColorSuccessTextActive: var(--coralColorSuccessTextActive, #427312);    
    $coralColorDangerBackgroundStrong: var(--coralColorDangerBackgroundStrong, #ff6d70);    
    $coralColorSuccessTextWeak: var(--coralColorSuccessTextWeak, #ffffff);    
    $coralColorSuccessTextWeakHover: var(--coralColorSuccessTextWeakHover, #e6f1d9);    
    $coralColorDangerBackgroundStrongHover: var(--coralColorDangerBackgroundStrongHover, #cc5759);    
    $coralColorSuccessTextWeakActive: var(--coralColorSuccessTextWeakActive, #cde4b3);    
    $coralColorDangerBackgroundStrongActive: var(--coralColorDangerBackgroundStrongActive, #994143);    
    $coralColorSuccessBackground: var(--coralColorSuccessBackground, #e6f1d9);    
    $coralColorDangerBorder: var(--coralColorDangerBorder, #ff6d70);    
    $coralColorSuccessBackgroundHover: var(--coralColorSuccessBackgroundHover, #cde4b3);    
    $coralColorDangerBorderHover: var(--coralColorDangerBorderHover, #cc5759);    
    $coralColorSuccessBackgroundActive: var(--coralColorSuccessBackgroundActive, #b4d78d);    
    $coralColorDangerBorderActive: var(--coralColorDangerBorderActive, #994143);    
    $coralColorSuccessBackgroundWeak: var(--coralColorSuccessBackgroundWeak, #ffffff);    
    $coralColorSuccessBackgroundWeakHover: var(--coralColorSuccessBackgroundWeakHover, #e6f1d9);    
    $coralColorWarningText: var(--coralColorWarningText, #ea8330);    
    $coralColorSuccessBackgroundWeakActive: var(--coralColorSuccessBackgroundWeakActive, #b4d78d);    
    $coralColorWarningTextHover: var(--coralColorWarningTextHover, #bb6826);    
    $coralColorSuccessBackgroundStrong: var(--coralColorSuccessBackgroundStrong, #82bd41);    
    $coralColorWarningTextActive: var(--coralColorWarningTextActive, #8c4e1c);    
    $coralColorSuccessBackgroundStrongHover: var(--coralColorSuccessBackgroundStrongHover, #689734);    
    $coralColorWarningTextWeak: var(--coralColorWarningTextWeak, #ffffff);    
    $coralColorWarningTextWeakHover: var(--coralColorWarningTextWeakHover, #fae6d5);    
    $coralColorSuccessBackgroundStrongActive: var(--coralColorSuccessBackgroundStrongActive, #427312);    
    $coralColorWarningTextWeakActive: var(--coralColorWarningTextWeakActive, #f6cdac);    
    $coralColorSuccessBorder: var(--coralColorSuccessBorder, #82bd41);    
    $coralColorWarningBackground: var(--coralColorWarningBackground, #fae6d5);    
    $coralColorSuccessBorderHover: var(--coralColorSuccessBorderHover, #689734);    
    $coralColorWarningBackgroundHover: var(--coralColorWarningBackgroundHover, #f6cdac);    
    $coralColorSuccessBorderActive: var(--coralColorSuccessBorderActive, #427312);    
    $coralColorWarningBackgroundActive: var(--coralColorWarningBackgroundActive, #f2b482);    
    $coralColorWarningBackgroundWeak: var(--coralColorWarningBackgroundWeak, #ffffff);    
    $coralColorAssistiveText: var(--coralColorAssistiveText, #ffffff);    
    $coralColorWarningBackgroundWeakHover: var(--coralColorWarningBackgroundWeakHover, #fae6d5);    
    $coralColorAssistiveTextWeak: var(--coralColorAssistiveTextWeak, #797979);    
    $coralColorWarningBackgroundWeakActive: var(--coralColorWarningBackgroundWeakActive, #f2b482);    
    $coralColorAssistiveTextDisabled: var(--coralColorAssistiveTextDisabled, #4d4d4d);    
    $coralColorWarningBackgroundStrong: var(--coralColorWarningBackgroundStrong, #ea8330);    
    $coralColorAssistiveBackground: var(--coralColorAssistiveBackground, #050d15);    
    $coralColorWarningBackgroundStrongHover: var(--coralColorWarningBackgroundStrongHover, #bb6826);    
    $coralColorAssistiveBackgroundMedium: var(--coralColorAssistiveBackgroundMedium, #363636);    
    $coralColorWarningBackgroundStrongActive: var(--coralColorWarningBackgroundStrongActive, #8c4e1c);    
    $coralColorAssistiveBackgroundStrong: var(--coralColorAssistiveBackgroundStrong, #4d4d4d);    
    $coralColorWarningBorder: var(--coralColorWarningBorder, #ea8330);    
    $coralColorAssistiveBorder: var(--coralColorAssistiveBorder, #797979);    
    $coralColorWarningBorderHover: var(--coralColorWarningBorderHover, #bb6826);    
    $coralColorAssistiveBorderHover: var(--coralColorAssistiveBorderHover, #bcbcbc);    
    $coralColorWarningBorderActive: var(--coralColorWarningBorderActive, #8c4e1c);    
