.manager {
  .list {
    display: flex;
    padding: 4rem;
    border: 1px solid;
    justify-content: space-around;
    border-radius: 4px;
  }

  .mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin-bottom: 0.8rem;
    }

    figcaption {
      text-align: center;
    }

    .switch {
      margin-bottom: 0.8rem;
      display: block;
    }
  }
}